<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="">COVID-19</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Variants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-variant">Add Variant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trivia">Trivia</a>
      </li>
    </ul>
  </div>
</nav>
